terraform/dns/terraform.tfvars
terraform/infra/terraform.tfvars
terraform/dns/.terraform/**
terraform/infra/.terraform/**
.terraform/**
react/admin/public/config.js
react/admin/package-lock.json
backend.hcl
.terraform.lock.hcl
react/admin/yarn.lock
terraform/dns/backend.tf
terraform/infra/backend.tf
