terraform/**/.terraform/*
terraform/*/*.tfstate
terraform/*/*.tfstate.*
terraform/*/*.tfvars
.terraform/**/.terraform/*
.terraform/*/*.tfstate
.terraform/*/*.tfstate.*
.terraform/*/*.tfvars
react/admin/public/config.js
backend.hcl
.terraform.lock.hcl
