/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 body {
   background: #000;
   color: #a98;
   background: linear-gradient(to bottom, rgba(0,0,0,1) 0px, rgba(0,0,0,1) 250px, rgba(24,8,8,1) 100%);
 }
 a {
   color: #fed;
 }
 p {
   text-align: center;
 }

@keyframes ripple {
  0%   { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.30) 0.0%, rgba(100,0,22,0.60)  4.0%, rgba(100,0,22,0.30)  8.0%), repeating-linear-gradient(170deg, #400 0, #300 20px, #400 40px); }
  5%   { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.31) 0.4%, rgba(100,0,22,0.59)  4.4%, rgba(100,0,22,0.30)  8.4%), repeating-linear-gradient(170deg, #400 2px, #300 22px, #400 42px); }
  10%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.32) 0.8%, rgba(100,0,22,0.58)  4.8%, rgba(100,0,22,0.30)  8.8%), repeating-linear-gradient(170deg, #400 4px, #300 24px, #400 44px); }
  15%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.33) 1.2%, rgba(100,0,22,0.57)  5.2%, rgba(100,0,22,0.30)  9.2%), repeating-linear-gradient(170deg, #400 6px, #300 26px, #400 46px); }
  20%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.34) 1.6%, rgba(100,0,22,0.56)  5.6%, rgba(100,0,22,0.30)  9.6%), repeating-linear-gradient(170deg, #400 8px, #300 28px, #400 48px); }
  25%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.35) 2.0%, rgba(100,0,22,0.55)  6.0%, rgba(100,0,22,0.30) 10.0%), repeating-linear-gradient(170deg, #400 10px, #300 30px, #400 50px); }
  30%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.36) 2.4%, rgba(100,0,22,0.54)  6.4%, rgba(100,0,22,0.30) 10.4%), repeating-linear-gradient(170deg, #400 12px, #300 32px, #400 52px); }
  35%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.37) 2.8%, rgba(100,0,22,0.53)  6.8%, rgba(100,0,22,0.30) 10.8%), repeating-linear-gradient(170deg, #400 14px, #300 34px, #400 54px); }
  40%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.38) 3.2%, rgba(100,0,22,0.52)  7.2%, rgba(100,0,22,0.30) 11.2%), repeating-linear-gradient(170deg, #400 16px, #300 36px, #400 56px); }
  45%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.39) 3.6%, rgba(100,0,22,0.51)  7.6%, rgba(100,0,22,0.30) 11.6%), repeating-linear-gradient(170deg, #400 18px, #300 38px, #400 58px); }
  50%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.40) 4.0%, rgba(100,0,22,0.50)  8.0%, rgba(100,0,22,0.30) 12.0%), repeating-linear-gradient(170deg, #400 20px, #300 40px, #400 60px); }
  55%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.39) 4.4%, rgba(100,0,22,0.51)  8.4%, rgba(100,0,22,0.30) 12.4%), repeating-linear-gradient(170deg, #400 22px, #300 42px, #400 62px); }
  60%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.38) 4.8%, rgba(100,0,22,0.52)  8.8%, rgba(100,0,22,0.30) 12.8%), repeating-linear-gradient(170deg, #400 24px, #300 44px, #400 64px); }
  65%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.37) 5.2%, rgba(100,0,22,0.53)  9.2%, rgba(100,0,22,0.30) 13.2%), repeating-linear-gradient(170deg, #400 26px, #300 46px, #400 66px); }
  70%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.36) 5.6%, rgba(100,0,22,0.54)  9.6%, rgba(100,0,22,0.30) 13.6%), repeating-linear-gradient(170deg, #400 28px, #300 48px, #400 68px); }
  75%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.35) 6.0%, rgba(100,0,22,0.55) 10.0%, rgba(100,0,22,0.30) 14.0%), repeating-linear-gradient(170deg, #400 30px, #300 50px, #400 70px); }
  80%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.34) 6.4%, rgba(100,0,22,0.56) 10.4%, rgba(100,0,22,0.30) 14.4%), repeating-linear-gradient(170deg, #400 32px, #300 52px, #400 72px); }
  85%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.33) 6.8%, rgba(100,0,22,0.57) 10.8%, rgba(100,0,22,0.30) 14.8%), repeating-linear-gradient(170deg, #400 34px, #300 54px, #400 74px); }
  90%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.32) 7.2%, rgba(100,0,22,0.58) 11.2%, rgba(100,0,22,0.30) 15.2%), repeating-linear-gradient(170deg, #400 36px, #300 56px, #400 76px); }
  95%  { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.31) 7.6%, rgba(100,0,22,0.59) 11.6%, rgba(100,0,22,0.30) 15.6%), repeating-linear-gradient(170deg, #400 38px, #300 58px, #400 78px); }
  100% { background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.30) 0.0%, rgba(100,0,22,0.60)  4.0%, rgba(100,0,22,0.30)  8.0%), repeating-linear-gradient(170deg, #400 40px, #300 60px, #400 80px); }
}

 header {
   position: relative;
   padding: 0;
   background: #000;
   background: repeating-radial-gradient(ellipse at center, rgba(100,0,22,0.30) 0.0%, rgba(100,0,22,0.40) 4.0%), #000;
   animation-name: ripple;
   animation-duration: 2s;
   animation-iteration-count: infinite;
 }
 header div.mask {
   position: absolute;
   top: 0;
   width: 49%;
   height: 200px;
   padding: 0;
 }
 header div#left {
   left: 0;
   background: -moz-linear-gradient(right, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 130px, rgba(0,0,0,1) 131px, rgba(0,0,0,0.4) 100%);
   background: -webkit-linear-gradient(right, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 130px, rgba(0,0,0,1) 131px, rgba(0,0,0,0.4) 100%);
   background: linear-gradient(to left, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 130px, rgba(0,0,0,1) 131px, rgba(0,0,0,0.4) 100%);
 }
 #right {
   right: 0;
   background: -moz-linear-gradient(left, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 130px, rgba(0,0,0,1) 131px, rgba(0,0,0,0.4) 100%);
   background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 130px, rgba(0,0,0,1) 131px, rgba(0,0,0,0.4) 100%);
   background: linear-gradient(to right, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 130px, rgba(0,0,0,1) 131px, rgba(0,0,0,0.4) 100%);
 }
 header img {
   border: 50px solid #000;
   border-width: 50px 5%;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 header ul.tabs {
   display: block;
   list-style: none;
   padding-top: 1em;
   border-width: 0 0 3px 0;
   border-style: solid;
   border-color: #500;
   background: rgba(0,0,0,0.6);
 }
 header ul.tabs li {
   list-style: none;
   display: inline-block;
   background-color: #300;
   border-radius: 4px 4px 0 0;
   line-height: 18px;
   padding: 11px;
 }
 
 header ul.tabs li.tab-signOut {
   position: absolute;
   right: 40px;
   border-radius: 4px;
   line-height: 18px;
   padding: 8px;
 }
 
 body.new header ul.tabs li.tab-new, body.list header ul.tabs li.tab-list,  body.new footer ul.tabs li.tab-new, body.list footer ul.tabs li.tab-list {
   background-color: #500;
 }
 
 section {
   display: none;
 }
 
 body.new section.new, body.list section.list {
   display: block;
 }
 
 button.btn {
   background-color: #300;
   color: #ccc;
   border: 0;
   margin: 1em;
 }
 button.btn-primary {
   background: #500;
 }
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
  font-size: 1.2em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







/* Generic */

body{
  width: 100vw;
  height: 100vh;

  font-family: 'Gugi';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





/* Logo */


header{
  width: 100vw;
  padding: 0;
}

header img{
  margin: 0 auto;
  display: block;
}






/* Forms */

.form-wrap{
    width: 50%;
    margin: 0 auto;
}

.left-form{
  width: 47.5%;

  float: left;
}

.right-form{
  width: 47.5%;

  float: right;
}

footer ul.tabs {
  display: none;
} 

@media screen and (max-width: 1200px) {
  .form-wrap{
    width: 90%;
  }
}


@media screen and (max-width: 600px) {
  .form-wrap{
    width: 90%;
  }

  .left-form{
    width: 100%;
  }

  .right-form{
    width: 100%;
  }
  header ul.tabs {
    display: none;
  }
  footer ul.tabs {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    list-style: none;
    height: 54px;
    background: #300;
  }
  footer ul.tabs li {
    display: block;
    list-style: none;
    width: 33%;
    position: absolute;
    top: 0;
    font-size: 22px;
    text-align: center;
    padding: 16px;
    line-height: 22px;
  }
  footer ul.tabs li.tab-new {
    left: 0;
  }
  footer ul.tabs li.tab-list {
    left: 33%;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #000;
  }
  footer ul.tabs li.tab-signOut {
    right: 0;
  }
}


input[type=text], input[type=password], input[type=email], select.request, .amphora {
    width: 100%;
    padding: 12px 0;
    margin: 10px 0 30px;
    display: inline-block;
    border: none;
    border-width: 0;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    background: transparent;
    outline: none;

    font-family: 'Gugi', 'Arial';
    font-size: 24px;
    opacity: 1;
    color: white;
    font-weight: 400;

    -webkit-transition: border-bottom 0.4s ease-in-out;
    transition: border-bottom 0.4s ease-in-out;
}

.amphora {
  width: auto;
  border-bottom: 0;
  padding: 12px 12px;
}

input[type=text]:focus, input[type=password]:focus {
    border-bottom: 2px solid black;
}


input[type=text].request, select.request {
  width: 29%;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
  font-style: italic;
  opacity: .4;

  font-family: 'Gugi', 'Arial';
  color: white;
  font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-style: italic;
  opacity: .4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: .4;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: .4;
  font-style: italic;
}

section.list {
  position: absolute;
  top: 100px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  max-width: 700px;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#address-list .item {
  padding: 4px;
  position: relative;
  margin-bottom: 1px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.1) 100%);
  border-radius: .75em;
}

#address-list .item .view {
  margin-right: 8em;
}

#address-list .item .more {
  position: absolute;
  top: 4px;
  right: 4px;
}

#address-view {
  display: none;
  position: absolute;
  color: antiquewhite;
  top: 320px;
  left: 50px;
  right: 50px;
  max-width: 400px;
  margin: auto;
  background: linear-gradient(135deg, rgba(50,50,50,0.9) 0%, rgba(100,90,90,1) 20%, rgba(90,90,90,1) 30%, rgba(0,0,0,0.9) 100%);
  padding: 3em;
  padding-bottom: 10em;
  border-radius: 3em;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

#copy-address {
  display: block;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-dd {
  margin-left: 3em;
}

#view-close {
  position: absolute;
  bottom: 3em;
  right: 3em;
}

#view-revoke {
  position: absolute;
  bottom: 3em;
  left: 3em;
}

#address-list .item .more a.full {
  display: inline;
}

#address-list .item .more a.mobile {
  display: none;
}

#view-back {
  display: none;
}

@media screen and (max-width: 600px) {

  #view-back {
    display: block;
    border: 0;
    background: none;
    color: antiquewhite;
    font-size: 22px;
    margin: 1em 0;
  }
  
  #view-close {
    display: none;
  }

  input[type=text], input[type=password], input[type=email], select.request, .amphora {
      padding: 6px 0;
      margin: 5px 0 15px;
      font-size: 16px;
  }
  section.list, #address-view {
    top: 0;
    bottom: 80px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  #address-view {
    border-radius: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0px, rgba(0,0,0,1) 250px, rgba(24,8,8,1) 100%);
    margin: 0;
    border: 0;
    width: 100%;
    max-width: 100%;
  }
  
  section.list, #address-list {
    left: 0;
    right: 0;
    margin: 0;
    max-width: 100%;
  }

  #address-list .item {
    padding: 12px;
    position: relative;
    border-top: 1px solid #ccc;
    border-radius: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.1) 100%);
  }
  #address-list .item .view a {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    bottom: 0;
    right: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #address-list .item .more {
    top: 3px;
    right: 12px;
    font-size: 200%;
  }
  
  #address-list .item .more a.full {
    display: none;
  }

  #address-list .item .more a.mobile {
    display: inline;
  }

}

#filter {
  text-align: center;
}

#reload {
  display: inline-block;
  font-size: 32px;
  -webkit-transform: rotate(45deg);
}

/* Typography */

h1{
  color: #bb9;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px 0;
}


@media screen and (max-width: 1200px) {
  h1{
    margin: 60px 0 0;
    font-size: 35px;
  }
}

.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: fixed;
  text-align: center;
  top: 15px;
  left: 20%;
  right: 20%;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: none;
}






















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
