.app-message {
  padding: 0.2em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 2em;
  text-align: center;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}