div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

div.message-list, div.message-list div.message-row {
  list-style: none;
  padding: 0;
  line-height: 1.75em;
  -webkit-user-select: none;
  user-select: none;
}

div.message-list div.message-row {
  border-bottom: 1px solid #888;
  align-items: baseline;
}

div.message-list div.message-row div.message-line-1 {
  display: grid;
  grid-template-columns: auto max-content;
  height: 1.75em;
  padding: .25em;
}

div.message-list div {
  display: block;
}

div.message-list div.message-subject {
  font-size: 115%;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .25em;
}

div.message-list div.Seen div.message-subject {
  font-weight: 400;
}

div.message-list div.Recent div.message-subject {
  font-style: italic;
}

div.message-list div.message-subject span.subject:hover {
  text-decoration: underline;
}

div.message-list div.message-subject input[type=checkbox],
div.message-list div.message-subject input[type=checkbox]:not(:checked) ~ label .checked,
div.message-list div.message-subject input[type=checkbox]:checked ~ label .unchecked {
  display: none;
}

div.message-list div.message-subject label {
  display: inline;
}

div.message-list div.message-subject input[type=checkbox]:not(:checked) ~ label .unchecked,
div.message-list div.message-subject input[type=checkbox]:checked ~ label .checked {
  display: inline-block;
  font-family: arial;
  font-size: 150%;
  width: 0.9em;
  height: 0.9em;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.1em;
  text-align: center;
  overflow: visible;
}

div.message-list div.message-from {
  height: 1.75em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.message-list div.message-date {
  font-style: italic;
  text-align: right;
  font-size: x-small;
}

div.message-list div.loading {
  background: #000;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  border-left: auto;
  border-right: auto;
  animation-name: ripple;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  border-bottom: 0;
}

div.message-list div.loading div.message-subject::before {
  content: '';
  display: none;
}

div.message-list div.loading {
  display: none;
}

/* Swipes */

.swipeable-list-item__leading-actions {
  background-color: #080 !important;
  color: #fff;
}

.swipeable-list-item__leading-actions span, .swipeable-list-item__trailing-actions span {
  white-space: nowrap;
  text-align: center;
  width: 80%;
  padding-top: 1.7em;
}

.swipeable-list-item__trailing-actions {
  background-color: #800 !important;
  color: #ff9;
}
