div.email_list button.collapse_filter,
div.email_list button.expand_filter,
div.email_list .filter,  {
  display: inline-block;
  margin-top: 0.25em;
}

div.filter button.filter_expand_collapse {
  width: auto;
}

div.filter button.sort-order {
  width: 2em;
}

div.filter select,
div.filter button,
div.filter label {
  margin: 0;
  font-size: 9pt;
}

div.filter button.sort-order {
  border-radius: 0 4px 4px 0;
  border-width: 1px;
}


body div.filter select.sort-by,
div.filter button.move,
div.filter button.read,
div.filter button.flagged,
div.filter button.unread {
  border-radius: 0;
  border-width: 1px 0px 1px 1px;
  width: auto;
  padding: 0.5em;
}

button.unflagged,
div.filter select {
  border-radius: 0 4px 4px 0;
  border-width: 1px;
  width: auto;
  padding: 0.5em;
}

div.filter button.delete,
div.filter label {
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  width: auto;
  padding: 0.5em;
}

div.none_selected div.filter-actions button {
  background-color: #666 !important;
}

div.filters {
  width: 100%;
}

div.filter-dropdowns {
  display: grid;
  grid-templates-columns: auto auto;
}

div.filter-dropdowns div.filter-folder {
  text-align: right;
}

div.filter-actions {
  width: 100%;
  text-align: center;
}

div.filter select, div.filter label, div.filter button {
  display: inline-block;
}

body div.content div.email div.email_list div.ascending button#ascending,
body div.content div.email div.email_list div.descending button#descending {
  display: none;
}