span.filter button.sort-order {
  width: 2em;
}

span.filter select,
span.filter button,
span.filter label {
  margin: 0;
  font-size: 9pt;
}

span.filter button.sort-order {
  border-radius: 0 4px 4px 0;
  border-width: 1px;
}


body span.filter select.sort-by,
span.filter button.move,
span.filter button.read,
span.filter button.flagged,
span.filter button.unread {
  border-radius: 0;
  border-width: 1px 0px 1px 1px;
  width: auto;
  padding: 0.5em;
}

button.unflagged,
span.filter select {
  border-radius: 0 4px 4px 0;
  border-width: 1px;
  width: auto;
  padding: 0.5em;
}

span.filter button.delete,
span.filter label {
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  width: auto;
  padding: 0.5em;
}

div.none_selected span.filter-actions button {
  background-color: #666 !important;
}

div.filters {
  width: 100%;
}

div.filters-dropdowns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column dense;
}

div.filters-dropdowns span.filter {
  display: inline;
  width: auto;
}

div.filters-dropdowns div ~ div {
  text-align: right;
}

div.filters-buttons {
  text-align: center;
}

span.filter select, span.filter label, span.filter button {
  display: inline-block;
}

body div.content div.email div.email_list div.ascending button#ascending,
body div.content div.email div.email_list div.descending button#descending {
  display: none;
}