ul.message-list {
  list-style: none;
}

ul.message-list li.message-row {
  list-style: none;
  border-bottom: 1px solid #888;
  display: grid;
  /* grid-template-columns: minmax(30em, 24%) minmax(30em, 24%) minmax(60em, 50%); */
  grid-template-colums: repeat(auto-fit, 15em);
  grid-column-gap: 2%;
  align-items: baseline;
}

ul.message-list li.message-row span {
  display: block;
  padding: .25em;
}