ul.message-list {
  list-style: none;
}

ul.message-list li.message-row {
  list-style: none;
  border-bottom: 1px solid #888;
  display: grid;
  grid-template-columns: 24% 24% 50%;
  grid-column-gap: 2%;
  align-items: baseline;
}

ul.message-list li.message-row span {
  display: block;
  padding: .25em;
}