/* mailbox selector */

select.selectMailbox {
  margin: 1em;
}

/* message overlay */

body div.content div.overlay_hidden {
  display: none;
}

.message_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  border-width: 1px;
  border-radius: 0.5em;
  display: grid;
  row-gap: 0;
  grid-template-rows: max-content auto;
}

.message_overlay .message {
  overflow: scroll;
  text-align: left;
  padding: 0 1em 1em 1em;
  margin: 0;
  position: relative;
}

.message_overlay .message_plain, pre {
  font-family: 'Share Tech Mono', monospace, courier;
}

.message_overlay button.close_overlay,
.message_overlay button.invert {
  width: 3em;
  position: absolute;
  top: 1em;
  right: 1em;
}

.message_overlay .message_top {
  padding: 1em 1em 0 1em;
} 

.message_overlay .tabBar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 50%;
  margin: auto;
  min-width: 25em;
}

.message_overlay .tabBar button {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.message_overlay .message_loading {
  animation-name: ripple;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  min-height: 30em;
}

.message_overlay .message_attachments {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: max-content auto auto;
  grid-template-rows: none;
  grid-auto-rows: max-content;
}

.message_overlay .message_attachments button.attachment {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 1em 2em;
  padding: 0.75em;
  height: auto;
}

.message_overlay .message_attachments button.attachment:hover span.attachment_name {
  text-decoration: underline;
} 

.message_overlay .message_attachments button.attachment span.attachment_type {
  font-style: italic;
} 

/* message list */

ul.message-list, ul.message-list li.message-row {
  list-style: none;
}

div.message-list ul {
  padding: 0;
}

ul.message-list li.message-row {
  border-bottom: 1px solid #888;
  align-items: baseline;
}

ul.message-list span {
  display: block;
  padding: .25em;
}

ul.message-list span.message-subject {
  font-size: 115%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.message-list span.message-subject:hover {
  text-decoration: underline;
}

ul.message-list span.message-subject::before {
  content: '🔵';
  display: inline-block;
  padding-right: .2em;
}

ul.message-list li.Seen span.message-subject {
  font-size: 115%;
  font-weight: normal;
}

ul.message-list li.Seen span.message-subject::before {
  content: '✉️';
  display: inline-block;
  padding-right: .2em;
}

ul.message-list span.message-date {
  font-style: italic;
  float: right;
}

ul.message-list li.loading {
  background: #000;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  border-left: auto;
  border-right: auto;
  animation-name: ripple;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  border-bottom: 0;
}

ul.message-list li.loading span.message-subject::before {
  content: '';
  display: none;
}

div.message-list ul.loading {
  display: none;
}