form.compose-overlay {
  padding: 1em;
  border-radius: 1em;
  border-width: 1px;
}

form.compose-overlay div.composer-toolbar {
  width: 40em;
  padding: 1em;
  border: 1px solid;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-button,
form.compose-overlay div.composer-toolbar label.composer-toolbar-style {
  height: 3em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  
}

form.compose-overlay div.composer-toolbar label.composer-toolbar-style {
  width: 12em;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-button {
  width: 3em;
}