* {
  font-family: 'Tahoma', 'Verdana', 'Trebuchet MS', 'Arial';
  font-size: small;
}

button, button * {
  font-size: x-small;
}

form.compose-overlay {
  padding: 1em;
  border-radius: 1em;
  border-width: 1px;
  border-color: inherit;
}

form.compose-overlay input[type=text] {
  width: 38em;
}

form.compose-overlay textarea.composer-text {
  width: 39em;
  height: 20em;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

/* toolbar */
form.compose-overlay div.composer-toolbar {
  width: 39em;
  padding: 0;
  border: 1px solid;
  border-color: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-button,
form.compose-overlay div.composer-toolbar select.composer-toolbar-style-select {
  height: 3em;
  text-align: center;
  margin: .5em;
  display: inline-block;
}

form.compose-overlay div.composer-toolbar select.composer-toolbar-style-select {
  width: 8em;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-button {
  width: 3em;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-bold {
  font-weight: bold;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-italic {
  font-style: italic;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-underline {
  text-decoration: underline;
}

form.compose-overlay div.composer-toolbar button.composer-toolbar-strikthrough {
  text-decoration: line-through;
}