div.folders ul.folder_list li.folder {
  list-style: none;
  margin: 0;
  padding: 0.3em;
  display: grid;
  grid-template-columns: auto 3em 3em;
}

div.folders ul.folder_list li.folder button.folder_button {
  width: 3em;
}