div.folders form.new_folder {
  display: grid;
  grid-template-columns: 20em auto;
  grid-column-gap: 1em;
  padding: 0;
}

div.folders form.new_folder input.new_folder {
  width: 15em;
}

div.folders form.new_folder button.new_folder {
  margin: 0;
}

div.folders ul.folder_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.folders ul.folder_list li.folder {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: auto 3em 3em;
  border-bottom: 1px solid;
  align-items: baseline;
}

div.folders ul.folder_list li.folder button.folder_button {
  width: 3em;
}