#amphora, #dot {
  display: block;
  text-align: center;
  vertical-align: bottom;
}

.address-fields {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
  grid-column-gap: 0;
  align-items: baseline;
}

.address-fields input, .address-fields select, #amphora,
#dot, .Request button.default, .comment-field #comment, 
.address-fields select::before, .button-fields button {
  width: 100%;
  box-sizing: border-box;
}

.button-fields {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-column-gap: 5%;
  align-items: baseline;
}

.button-fields #request {
  grid-column: 1 / span 2;
}

.hidden {
  display: none;
}

button.toggleRequest {
  width: 4em;
}

hr {
  margin: 1.5em;
}