ul.address.list {
  list-style: none;
  padding-left: 0;
}

ul.address-list li.address {
  list-style: none;
  border-bottom: 1px solid #888;
  display: grid;
  grid-template-columns: 40% 15% 15% 15%;
  grid-column-gap: 5%;
  align-items: baseline;
}

ul.address-list li.address span.address, ul.address-list button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}