@media (prefers-color-scheme: light) {
  body, a, button, select, div, label, form {
    color: #222;
    background-color: #ffe;
  }
  * {
    border-color: #999;
  }
  input, select, option, textarea, ul.recipient-list {
    color: #000;
    background-color: #ffd;
  }
  .wysiwyg-editor, .wysiwyg-editor div.DraftEditor-root,
  .wysiwyg-editor div.DraftEditor-root div.DraftEditor-editorContainer,
  .wysiwyg-editor div.DraftEditor-root div.DraftEditor-editorContainer div.public-DraftEditor-content,
  .wysiwyg-editor div.DraftEditor-root div.DraftEditor-editorContainer div.public-DraftEditor-content div {
    color: #000;
    background-color: #ffd;
  }
  button {
    color: #333;
    background-color: #ddd;
  }
  a.rdw-dropdown-selectedtext, div.rdw-option-wrapper:not(.rdw-colorpicker-option) {
    background-color: #ddd !important;
  }
  div.message-list div.message-subject {
    color: #222;
  }
  div.message-list div.Seen div.message-subject {
    color: #444;
  }
  .nav, .nav .item {
    color: #aaa;
    background-color: #000;
  }
  body .highlight, body .active, body .default,
  body .nav .active, body div.message-list div.selected,
  body div.message-list div.selected *,
  body div.compose-wrapper form.compose-overlay div.wysiwyg-toolbar div.rdw-option-active,
  body div.compose-wrapper form.compose-overlay div.wysiwyg-toolbar div.rdw-option-wrapper:active {
    color: #000 !important;
    border-color: #d00 !important;
  }
  body .highlight, body .active, body .default,
  body .nav .active, body div.message-list div.selected,
  body div.message-list div.selected *,
  body div.compose-wrapper form.compose-overlay div.wysiwyg-toolbar div.rdw-option-active:not(.rdw-colorpicker-option),
  body div.compose-wrapper form.compose-overlay div.wysiwyg-toolbar div.rdw-option-wrapper:active:not(.rdw-colorpicker-option) {
    background-color: #a33 !important;
    color: #ff9 !important;
  }
  div.message-list div.Seen.selected div.message-subject {
    color: #000
  }
  div.message-list div.message-subject input[type=checkbox]:not(:checked) ~ label .unchecked,
  div.message-list div.message-subject input[type=checkbox]:checked ~ label .checked {
    box-shadow: inset 0 0 0.35em #fff;
    background-color: #ffe;
    border-color: #222;
  }
  .email_list,
  .email_list :not(.highlight *,
                   .active *,
                   .default *,
                   .selected *,
                   .highlight *,
                   .active *,
                   .default *,
                   .selected *,
                   button,
                   select,
                   span.checked,
                   span.unchecked) {
    background-color: #e8e8e8 !important;
  }
  /* forced */
  .forced * {
    color: #222 !important;
  }
  /* inverted */
  body.inverted, a.inverted, button.inverted, select.inverted, div.inverted,
  .inverted a, .inverted button, .inverted select, .inverted div {
    color: #aaa;
    background-color: #200;
    border-color: #333;
  }
  input.inverted, select.inverted, option.inverted,
  .inverted input, .inverted select, .inverted option {
    color: #ccc;
    background-color: #000;
  }
  button.inverted, .inverted button {
    color: #ccc;
    background-color: #111;
  }
  .inverted .nav, .inverted .nav .item {
    background-color: #000;
  }
  body .inverted .highlight, body .inverted .active, body .inverted .default,
  body .inverted .nav .active {
    color: #dda;
    background-color: #300;
    border-color: #800;
  }
}