@media (prefers-color-scheme: dark) {
  body, a, button, select {
    color: #aaa;
    background-color: #200;
    border-color: #333;
  }
  input, select, option {
    color: #ccc;
    background-color: #000;
  }
  button {
    color: #ccc;
    background-color: #111;
  }
  .nav, .nav .item {
    background-color: #111;
  }
  body .highlight, body .active, body .default,
  body .nav .active {
    color: #dda;
    background-color: #300;
    border-color: #800;
  }
}

@media (prefers-color-scheme: light) {
  body, a, button, select {
    color: #222;
    background-color: #ffe;
    border-color: #999;
  }
  input, select, option {
    color: #000;
    background-color: #ffd;
  }
  button {
    color: #333;
    background-color: #ddd;
  }
  .nav, .nav .item {
    background-color: #bbb;
  }
  body .highlight, body .active, body .default,
  body .nav .active  {
    color: #000;
    background-color: #a33;
    border-color: #d00;
  }
}

body {
  margin: 0;
  font-family: 'Gugi';
  font-size: 120%;
}

a {
  text-decoration: none;
}

.content {
  padding: 3em;
}

input, select, button, option {
  font-family: 'Gugi';
  font-size: 120%;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
}

input, select, option {
  border-radius: 0.2em;
  width: 30em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  display: block;
  margin-top: 1em;
}

button {
  display: block;
  width: 15em;
  margin-top: 1em;
  border-radius: 0.5em;
}

fieldset {
  border: 0;
}