body {
  margin: 0;
  color: #fff;
  background-color: #200;
  font-family: 'Gugi';
  font-size: 120%;
}

.content {
  padding: 3em;
}

input, button {
  font-family: 'Gugi';
  font-size: 120%;
  padding: 1em;
}

input {
  border-radius: 0.2em;
  width: 100%;
  background-color: #000;
  color: #ccc;
}

label {
  display: block;
}

button {
  background-color: #111;
  color: #ccc;
  display: block;
  width: 15em;
  border-radius: 0.5em;
  box-shadow: 0 0.3em 0.5em #000;
}

button.default {
  background-color: #311;
  color: #dda;
}