.logged-out #list,
.logged-out #request,
.logged-out #logout,
.logged-in #signup,
.logged-in #login {
  display: none;
}

.nav {
  border-width: 0 0 0 0.1em;
  border-bottom-style: solid;
}

.nav .item {
  display: inline-block;
  padding: 1em;
  border: 0;
  border-bottom-color: rgba(0,0,0,0);
  border-bottom-width: 0.2em;
}

.nav a.active {
  border-bottom-width: 0.2em;
}