.logged-out #list,
.logged-out #request,
.logged-out #logout,
.logged-in #signup,
.logged-in #login {
  display: none;
}

.nav .item {
  display: inline-block;
  padding: 1em;
  border: 0;
}

.nav button.item {
  margin: 0;
  padding: 0.4em;
  border-width: 1px;
  display: block;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  width: auto;
}