.logged-out #list,
.logged-out #request,
.logged-out #logout,
.logged-in #signup,
.logged-in #login {
  display: none;
}

div.nav a.item {
  background-color: #111;
  color: #aa9;
}

div.nav a.active {
  background-color: #311;
  color: #dda;
}