#amphora, #dot {
  display: block;
  text-align: center;
  vertical-align: bottom;
}

.address-fields {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
  grid-column-gap: 0;
  align-items: baseline;
}

.address-fields input, .address-fields select, #amphora,
#dot, .Request button.default, .comment-field #comment, 
.address-fields select::before {
  width: 100%;
  box-sizing: border-box;
}