#amphora, #dot {
  font-size: 160%;
}

.address-fields {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
  grid-column-gap: 0;
}

.address-fields input, .address-fields select {
  width: 25%;
}

.Request button.default, .comment-field #comment {
  width: 100%;
  box-sizing: border-box;
}