###################################
## for terraform/dns workspace   ##
###################################

# Pick the AWS region closest to your end user population. Must
# be the same as for infra.

aws_region = "us-west-1"

# This value is used to tag resources. If you have forked the
# repository and wish to tag with your own repository, uncomment
# this line and replace the value with your own.

# repo = "https://github.com/example/cabal-infra/tree/main"

# Specify the root domain to be used to name control nodes on the
# CabalMail system. For example, if you want to host IMAP at
# imap.example.net, and SMTP at smtprelay1.example.net, then this
# should be set to "example.net"

control_domain = "example.net"

# Create a personal access token in your Github account so that
# Terraform can trigger Github workflows.
# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

github_token = "ghp_yXfAxxxxxxxxxxxxxxxxxxxxxxxxxxxxGq46"

###################################
## for terraform/infra workspace ##
###################################

# Create a name for your environment such as 'production' or 
# 'staging'.

environment = "development"

# Pick the AWS region closest to your end user population. A
# single VPC will be created, and all infrastructure will be
# inside of it.

aws_region = "us-west-1"

# This value is used to tag resources. If you have forked the
# repository and wish to tag with your own repository, uncomment
# this line and replace the value with your own.

# repo = "https://github.com/example/cabal-infra/tree/main"

# Specify the root domain to be used to name control nodes on the
# CabalMail system. For example, if you want to host IMAP at
# imap.example.net, and SMTP at smtprelay1.example.net, then this
# should be set to "example.net"

control_domain = "example.net"

# List the domains that you want to use for email addresses.

mail_domains = [
  "example.com",
  "example.org"
]

# DEPRECATED: Let's Encrypt certificates will be removed in 0.4.1.
# Set this to true to use Lets Encrypt's production API. Defaults
# to false.

# prod = true

# DEPRECATED: Let's Encrypt certificates will be removed in 0.4.1.
# Email to use for Lets Encrypt's API.

email = "your_email@example.com"

# List the availability zones you wish to use in the region.
# For non-production, you can specify as few as one.
# For production, three is recommended.

availability_zones = [
  "us-west-1a",
  "us-west-1b",
  "us-west-1c"
]

# Specify a CIDR block for the VPC.

cidr_block = "10.0.0.0/9"

# LEGACY: These EC2 autoscaling variables are used during the
# ECS cutover period. Mail services are migrating to ECS
# containers. Set all counts to 0 once your ECS services are
# running and verified. These variables will be removed in a
# future release.

# Specify minimum, maximum, and desired instance counts for
# autoscaling.

imap_scale = {
  min  = 0
  max  = 0
  des  = 0
  size = "t2.micro"
}

smtpin_scale = {
  min  = 0
  max  = 0
  des  = 0
  size = "t2.micro"
}

smtpout_scale = {
  min  = 0
  max  = 0
  des  = 0
  size = "t2.micro"
}

# Create a personal access token in your Github account so that
# Terraform can trigger Github workflows.
# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

github_token = "ghp_yXfAxxxxxxxxxxxxxxxxxxxxxxxxxxxxGq46"

# DEPRECATED: Chef will be removed in 0.4.1. Mail services are
# migrating to Docker containers on ECS.
# This repository installs Chef Infra Client on EC2 instances.
# For Chef Client to run, you must accept the Chef license.
# It is available here:
# https://www.chef.io/end-user-license-agreement
# NOTE: The Terraform validation still requires this to be set
# to "accept" even though Chef is deprecated.

chef_license = "accept"