# Pick the AWS region closest to your end user population. A
# single VPC will be created, and all infrastructure will be
# inside of it.

aws_region = "us-west-1"

# List the availability zones you wish to use in the region.
# For non-production, you can specify as few as one.
# For production three is recommended.

availability_zones = [
  "us-west-1a",
  "us-west-1b",
  "us-west-1c"
]

# Specify a CIDR block for the VPC.

cidr_block = "10.0.0.0/9"

# This value is used to tag resources. If you have forked the
# repository and wish to tag with your own repository, uncomment
# this line and replace the value with your own.

# repo = "https://github.com/example/cabal-infra/tree/main"

# Specify the root domain to be used to name control nodes on the
# CabalMail system. For example, if you want to host IMAP at
# imap.example.net, and SMTP at smtprelay1.example.net, then this
# should be set to "example.net"

control_domain = "example.net"

# Route 53 Zone ID for the control domain.

zone_id = "Z04XXXXXXXXXXXXXXXX1U"

# List the domains that you want to use for email addresses.

mail_domains = [
  "example.com",
  "example.org"
]

# Specify minimum, maximum, and desired instance counts for
# autoscaling.

imap_scale = {
  min = 1
  max = 1
  des = 1
}

smtpin_scale = {
  min = 1
  max = 5
  des = 1
}

smtpout_scale = {
  min = 1
  max = 2
  des = 1
}

# This repository installs Chef Infra Client on EC2 instances.
# For Chef Client to run, you must accept the Chef license.
# It is available here:
# https://www.chef.io/end-user-license-agreement

# chef_license = "accept"