---
name: Build and Deploy Terraform Infrastructure

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker image tag to deploy (e.g. sha-abc12345)'
        required: false
        default: 'latest'
        type: string
  workflow_call:
    inputs:
      image_tag:
        description: 'Docker image tag to deploy (e.g. sha-abc12345)'
        required: false
        type: string
        default: 'latest'
  repository_dispatch:
    types: [trigger_build]
  schedule:
    - cron: '41 1 * * 3'
  push:
    paths:
      - 'terraform/infra'
      - 'terraform/infra/*'
      - 'terraform/infra/*/**'
      - '.github/workflows/terraform.yml'
      - '.github/scripts/make-terraform.sh'
      - '.github/scripts/plan-terraform.sh'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'main' && 'prod' || ( github.ref_name == 'stage' && 'stage' || 'development' ) }}
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: generate-versions
      run: env TF_MODULE=infra TF_ENVIRONMENT="${{ vars.TF_VAR_ENVIRONMENT }}" ./.github/scripts/make-terraform.sh
    - name: debug-1
      run: cat ./terraform/infra/backend.tf
    - name: debug-2
      run: echo "${{ vars.TF_VAR_ENVIRONMENT }}"
    - name: store-artifact
      uses: actions/upload-artifact@v4
      with:
        name: backend.tf
        path: ./terraform/infra/backend.tf
  # docs:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       ref: ${{ github.event.pull_request.head.ref }}
  #   - name: Render terraform docs for infra and push changes back to PR
  #     uses: terraform-docs/gh-actions@main
  #     with:
  #       working-dir: ./terraform/infra
  #       output-file: README.md
  #       output-method: replace
  #       recursive: "true"
  #       git-push: "true"
  #   - name: Render terraform docs for dns and push changes back to PR
  #     uses: terraform-docs/gh-actions@main
  #     with:
  #       working-dir: ./terraform/dns
  #       output-file: README.md
  #       output-method: inject
  #       git-push: "true"
  chekov:
    runs-on: ubuntu-latest
    needs:
    - build
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: retrieve-artifact
      uses: actions/download-artifact@v4
      with:
        name: backend.tf
    - name: move
      run: mv backend.tf ./terraform/infra/backend.tf
    - name: chekov
      uses: bridgecrewio/checkov-action@master
      with:
        directory: terraform/infra/
        quiet: true
        soft_fail: true
        framework: terraform
        download_external_modules: false
  tflint:
    runs-on: ubuntu-latest
    needs:
    - build
    defaults:
      run:
        working-directory: ./terraform/infra
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: retrieve-artifact
      uses: actions/download-artifact@v4
      with:
        name: backend.tf
    - name: move
      run: mv ../../backend.tf backend.tf
    - name: install-linters
      run: curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
    - name: initialize-linter
      run: tflint --version && tflint --init
    - name: run-linter
      run: for i in ./ modules/* modules/*/modules/* ; do tflint ; done
  tfsec:
    runs-on: ubuntu-latest
    needs:
    - build
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: retrieve-artifact
      uses: actions/download-artifact@v4
      with:
        name: backend.tf
    - name: move
      run: mv backend.tf ./terraform/infra/backend.tf
    - name: tfsec
      uses: aquasecurity/tfsec-action@v1.0.0
      with:
        soft_fail: false
        working_directory: ./terraform/infra
  plan:
    runs-on: ubuntu-latest
    needs:
    - build
    outputs:
      exit_code: ${{ steps.plan-terraform.outputs.exit_code }}
    defaults:
      run:
        working-directory: ./terraform/infra
    environment: ${{ github.ref_name == 'main' && 'prod' || ( github.ref_name == 'stage' && 'stage' || 'development' ) }}
    env:
      TF_API_TOKEN: ${{ secrets.TF_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: retrieve-artifact
      uses: actions/download-artifact@v4
      with:
        name: backend.tf
    - name: move
      run: mv ../../backend.tf backend.tf
    - name: install-terraform
      uses: hashicorp/setup-terraform@v2
      with:
        cli_config_credentials_token: ${{ secrets.TF_TOKEN }}
        terraform_wrapper: false
    - name: tfvars-terraform
      run: |
        echo "smtpout_scale = ${{ vars.TF_VAR_SMTPOUT_SCALE }}" > terraform.tfvars
        echo "availability_zones = ${{ vars.TF_VAR_AVAILABILITY_ZONES}}" >> terraform.tfvars
        echo "aws_region = \"${{ vars.TF_VAR_AWS_REGION}}\"" >> terraform.tfvars
        echo "cidr_block = \"${{ vars.TF_VAR_CIDR_BLOCK}}\"" >> terraform.tfvars
        echo "control_domain = \"${{ vars.TF_VAR_CONTROL_DOMAIN}}\"" >> terraform.tfvars
        echo "email = \"${{ vars.TF_VAR_EMAIL }}\"" >> terraform.tfvars
        echo "environment = \"${{ vars.TF_VAR_ENVIRONMENT }}\"" >> terraform.tfvars
        echo "imap_scale = ${{ vars.TF_VAR_IMAP_SCALE }}" >> terraform.tfvars
        echo "mail_domains = ${{ vars.TF_VAR_MAIL_DOMAINS }}" >> terraform.tfvars
        echo "smtpin_scale = ${{ vars.TF_VAR_SMTPIN_SCALE }}" >> terraform.tfvars
        echo "chef_license = \"${{ vars.TF_VAR_CHEF_LICENSE}}\"" >> terraform.tfvars
        echo "repo = \"${{ vars.TF_VAR_REPO }}\"" >> terraform.tfvars
        echo "backup = ${{ vars.TF_VAR_BACKUP }}" >> terraform.tfvars
        echo "prod = ${{ vars.TF_VAR_PROD }}" >> terraform.tfvars
        echo "image_tag = \"${{ inputs.image_tag || 'latest' }}\"" >> terraform.tfvars
    - name: init-terraform
      run: terraform init
    - name: plan-terraform
      id: plan-terraform
      run: ../../.github/scripts/plan-terraform.sh

  apply:
    needs:
    - plan
    - chekov
    - tflint
    - tfsec
    if: needs.plan.outputs.exit_code == '2'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform/infra
    environment: ${{ github.ref_name == 'main' && 'prod' || ( github.ref_name == 'stage' && 'stage' || 'development' ) }}
    env:
      TF_API_TOKEN: ${{ secrets.TF_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: retrieve-artifact
      uses: actions/download-artifact@v4
      with:
        name: backend.tf
    - name: move
      run: mv ../../backend.tf backend.tf
    - name: install-terraform
      uses: hashicorp/setup-terraform@v2
      with:
        cli_config_credentials_token: ${{ secrets.TF_TOKEN }}
    - name: tfvars-terraform
      run: |
        echo "smtpout_scale = ${{ vars.TF_VAR_SMTPOUT_SCALE }}" > terraform.tfvars
        echo "availability_zones = ${{ vars.TF_VAR_AVAILABILITY_ZONES}}" >> terraform.tfvars
        echo "aws_region = \"${{ vars.TF_VAR_AWS_REGION}}\"" >> terraform.tfvars
        echo "cidr_block = \"${{ vars.TF_VAR_CIDR_BLOCK}}\"" >> terraform.tfvars
        echo "control_domain = \"${{ vars.TF_VAR_CONTROL_DOMAIN}}\"" >> terraform.tfvars
        echo "email = \"${{ vars.TF_VAR_EMAIL }}\"" >> terraform.tfvars
        echo "environment = \"${{ vars.TF_VAR_ENVIRONMENT }}\"" >> terraform.tfvars
        echo "imap_scale = ${{ vars.TF_VAR_IMAP_SCALE }}" >> terraform.tfvars
        echo "mail_domains = ${{ vars.TF_VAR_MAIL_DOMAINS }}" >> terraform.tfvars
        echo "smtpin_scale = ${{ vars.TF_VAR_SMTPIN_SCALE }}" >> terraform.tfvars
        echo "chef_license = \"${{ vars.TF_VAR_CHEF_LICENSE}}\"" >> terraform.tfvars
        echo "repo = \"${{ vars.TF_VAR_REPO }}\"" >> terraform.tfvars
        echo "backup = ${{ vars.TF_VAR_BACKUP }}" >> terraform.tfvars
        echo "prod = ${{ vars.TF_VAR_PROD }}" >> terraform.tfvars
        echo "image_tag = \"${{ inputs.image_tag || 'latest' }}\"" >> terraform.tfvars
    - name: init-terraform
      run: terraform init
    - name: apply-terraform
      run: terraform apply -auto-approve -lock-timeout=30m -var-file="terraform.tfvars"
